[Unit]
Description={{ .Description }}
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type={{ if .Interval }}oneshot{{ else }}simple{{ end }}
WorkingDirectory={{ .WorkingDir }}
EnvironmentFile=%h/.config/fleet/env
ExecStart={{ .Exec }}
{{- if not .Interval }}
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
{{- end }}
